@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

body {
  background: #cacbcf;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 30px;
  background: #cacbcf;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
}

.login .loginContainer {
  padding: 40px;
  margin: auto;
  width: 100%;
  max-width: 500px;
  min-height: 350px;
  display: flow-root;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  background: #ffffff;
}

.login .loginContainer2 {
  padding: 40px;
  margin: auto;
  width: 100%;
  height: auto;
  display: flow-root;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  background: #ffffff;
}

.login .loginContainer label {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer .menu button {
  color: black;
  margin: 8px 0;
  display: block;
  font-size: 25px;
  line-height: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.login .loginContainer .menu button:hover {
  transition: 1s ease all;
  box-shadow: 0px 5px 10px #560000;
}

.login .loginContainer .menu2 button {
  color: rgb(255, 255, 255);
  margin: 8px 0;
  display: block;
  font-size: 20px;
  line-height: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #560000;
}

.login .loginContainer .menu2 button:hover {
  transition: 1s ease all;
  box-shadow: 0px 5px 1px #0000006d;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px;
  height: 45px;
  background: #cacbcf;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #ffffff;
}

.login .loginContainer .errorMsg {
  color: #2d3001;
  font-size: 16px;
}

.hero{
  width: 100%;
  min-height: 100vh;
  background: #cacbcf;
}

.hero nav {
  background: #560000;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 32px;
}

.hero nav h3 {
  float: right;
}

.hero nav h3 img {
  width: 70px;
  height: 70px;
}

.hero nav button a {
  color: #fff;
  text-decoration: none;
}

.hero nav button a:hover {
  color: #011230;
}

.hero img {
  width: 42px;
  height: 62px;
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-size: 40px;
}

label {
  color: #000000;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

h4 {
  color: #bb2929;
}

h5 {
  color: #560000;
}

.golesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.golesContainer > div {
  flex-basis: 65%;
}

select {
  width: 100%;
  background: #ffffff;
  border-radius: 30px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  border: 15px solid transparent;
}

.school {
  width: 100%;
  background: #cacbcf;
  border-radius: 30px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  border: 15px solid transparent;
}

.TablaGeneralPos {
  border-collapse: collapse;
  margin: 10px auto;
  width: 90%;
  overflow-x: auto;
}

.encabezado,
.descripcion {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.encabezado {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, #011230, #011250, #011280);
  width: auto;
}

.TablaGeneralPos td {
  background-image: linear-gradient(to right, #a5a5a5, #a5a5a576, #a5a5a500);
  color: #000000;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.TablaGeneralPos td:first-child {
  text-align: center;
}



.carousel {
  background: linear-gradient(to right, #011230, #072e4b, #0d3b67, #134983, #1957a0);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 10px;
  max-width: 8000px;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to right, #011230, #072e4b, #0d3b67, #134983, #1957a0);
  border-radius: 8px;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .carousel-container {
    flex-direction: column;
  }

  .twitter-container {
    margin-top: 20px;
  }
}
/* Estilos para el carrusel */
.carousel-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel .slide img {
  max-width: 100%;
  height: auto;
}

/* Estilos para la sección de Twitter */
.twitter-timeline {
  max-width: 100%;
  overflow: hidden;
}

.twitter-timeline iframe {
  width: 100%;
  height: 500px;
}

/* Estilos adicionales para hacer el diseño responsive */
@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
  }

  .carousel .slide img {
    max-width: 100%;
    height: auto;
  }

  .twitter-timeline iframe {
    max-width: 100%;
    height: 300px;
  }
}

/* Media Queries para estilos en dispositivos móviles */
@media (max-width: 768px) {
  main {
    padding: 20px;
  }

  .login {
    top: 0;
    left: 0;
    position: relative;
  }

  .login .loginContainer {
    min-height: 300px;
    width: 100%;
    max-width: none;
    padding: 20px;
    margin: auto;
  }

  .login .loginContainer2 {
    min-height: 300px;
    width: 100%;
    max-width: none;
    padding: 20px;
    margin: auto;
  }

  .hero nav h2 {
    font-size: 24px;
  }

  .hero nav h3 {
    display: none;
  }

  .golesContainer {
    display: flex;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas de igual ancho */
    align-items: center;
  }
  .goles-container > div {
    flex-basis: 50%;
  }


}