@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
  }
  body{
    background: #cacbcf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
  }
  
  button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #000000; /*color de letras*/
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 30px;
    background: #cacbcf; /*color de boton registrarse*/
    cursor: pointer;
    
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 20px;
    
  }
  
  .login .loginContainer { /*Tamaño y color del recuadro inicio Acceso*/
    padding: 40px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    min-height: 350px;
    display: flow-root;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    background: #ffffff;
    
  }

  .login .loginContainer2 { /*Tamaño y color del recuadro*/
    padding: 40px;
    margin: auto;
    width: 800px;
    height: 850px;
    display: flow-root;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    background: #ffffff;
    
  }
  
  .login .loginContainer label {
    color: black;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }

  .hero .login .loginContainer .menu button {
    color: black;
    margin: 8px 0;
    display: block;
    font-size: 25px;
    line-height: 1;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  } 

  .hero .login .loginContainer .menu button:hover  {
    transition: 1s ease all;
    box-shadow: 0px 5px 10px #560000;
}

.hero .login .loginContainer .menu2 button {
  color: rgb(255, 255, 255);
  margin: 8px 0;
  display: block;
  font-size: 20px;
  line-height: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #560000 ;
} 

.hero .login .loginContainer .menu2 button:hover  {
  transition: 1s ease all;
  box-shadow: 0px 5px 1px #0000006d;
}


  /* para la parte de recuadros de llenado */
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 15px;
    height: 45px;
    background: #cacbcf;
    color: rgb(0, 0, 0);  /* letra de llenado */
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;

  }

 /* No tienes cuenta y olvidaste contraseña */
  .login .loginContainer .btnContainer p { 
    margin: 14px 0 0 0;
    text-align: right;
    color: #ffffff;
  }
  
  .login .loginContainer .errorMsg {
    color: #2d3001;
    font-size: 16px;
  }
  
  .hero {
    width: 100%;
    min-height: 100vh;
    background: #cacbcf;  /* fondo de inicio de sesion */
  }
  
  .hero nav {
    background: #560000; /* barra de navegacion Hola posicion */
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav h2 {
    color: #ffffff; /* color letra barra superior */
    width: 100%;
    padding: 10px;
    font-size: 32px;
  }

  .hero nav h3 {
    float:right;   
  }
  
  .hero nav h3 img{
    width: 70px;
    height: 70px; 
  }

  .hero nav button a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .hero nav button a:hover {
    color: #011230;
  }
   
  .hero img{
    width: 42px;
    height: 62px;
  }
  
  h1{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 40px;
  }

  label {
    color: #000000;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }

  h4{
    color: #bb2929;   
  }

  h5{
    color: #560000;   
  }


select {   /* Color del rol en crear cuenta */
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: 15px solid transparent;
}


/*<<<<<<< Updated upstream*/

.school {   /* Color del school en round robin */
  width: 35%;
  background: #cacbcf;
  border-radius: 30px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  border: 15px solid transparent;
}

/*=======*/

.hero nav button a:hover {
  color: #011230;
}
 
.hero img{
  width: 42px;
  height: 62px;
}

h1{
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-size: 40px;
}

.hero .login .loginContainer .menu button:hover  {
  transition: 1s ease all;
  box-shadow: 0px 5px 10px #560000;
}

.hero .login .loginContainer .menu2 button {
color: rgb(255, 255, 255);
margin: 8px 0;
display: block;
font-size: 20px;
line-height: 1;
border-radius: 30px;
border: none;
outline: none;
cursor: pointer;
background: #560000 ;
} 

