* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  font-size: 20px;/* redimensión en pantalla completa */
}

body {
  background: #011230;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

#root {
  width: 100%; /* tamaño que ocupa la pagina web de la pantalla */
  
}

@media screen and (max-width: 60rem){ /* 950px */
  :root {
      font-size: 5px; /* redimensión de pantalla ajustada */
  }
}